@page "/"

<PageTitle>Dashboard</PageTitle>

<MudFileUpload T="IBrowserFile" FilesChanged="FileUploaded">
    <ActivatorContent>
        <MudButton Class="mb-4" Variant="Variant.Filled"
                   Color="Color.Primary"
                   StartIcon="@Icons.Material.Filled.CloudUpload">
            Upload Files
        </MudButton>
    </ActivatorContent>
</MudFileUpload>


<div class="ml-20">

    <MudText Typo="Typo.h4"Class="mt-8">Most Active User</MudText>
    <MudText Typo="Typo.subtitle1"Class="">@mostActiveHashID</MudText>

    <MudText Typo="Typo.h4"Class="mt-8">Most Active Reader</MudText>
    <MudText Typo="Typo.subtitle1"Class="">@mostActiveReader</MudText>

    <MudText Typo="Typo.h4"Class="mt-8">Busiest Day</MudText>
    <MudText Typo="Typo.subtitle1"Class="">@busiestDay</MudText>

    <MudText Typo="Typo.h4"Class="mt-8">Average Unique Visitors Per Day</MudText>
    <MudText Typo="Typo.subtitle1"Class="">@averageUniqueVisitorsPerDay</MudText>

    <MudText Typo="Typo.h6"Class="mt-8">Scan Activity</MudText>

</div>

<MudChart ChartType="ChartType.Line" ChartSeries="@Series" XAxisLabels="@XAxisLabels" Width="100%" Height="350px" ChartOptions="@Options"></MudChart>

<h1>MasterList count = @masterListCount</h1>

<MudSimpleTable Class="mb-4" Style="overflow-x: auto;">
    <thead>
        <tr>
            <th>ReaderID</th>
            <th>Reader Name</th>
            <th>Reader Events</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var reader in eventDictionary)
        {
            <tr>
                <td>@reader.Key</td>
                <td>@reader.Value[0].GetEventDescription()</td>
                <td>@reader.Value.Count()</td>
            </tr>
        }
    </tbody>
</MudSimpleTable>

<MudSimpleTable Class="mb-4" Style="overflow-x: auto;">
    <thead>
        <tr>
            <th>Date</th>
            <th>Number of Events</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var reader in eventDictionaryFilteredByDay)
        {
            <tr>
                <td>@reader.Key</td>
                <td>@reader.Value.Count()</td>
            </tr>
        }
    </tbody>
</MudSimpleTable>

<MudSimpleTable Class="mb-4" Style="overflow-x: auto;">
    <thead>
        <tr>
            <th>Day of The Week</th>
            <th>Number of Events</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var reader in eventDictionaryFilteredByTime)
        {
            <tr>
                <td>@reader.Key</td>
                <td>@reader.Value.Count()</td>
            </tr>
        }
    </tbody>
</MudSimpleTable>

<MudSimpleTable Class="mb-4" Style="overflow-x: auto;">
    <thead>
        <tr>
            <th>UserID</th>
            <th>Events Invoked By User</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var reader in eventDictionaryFilteredHashID)
        {
            <tr>
                <td>@reader.Key</td>
                <td>@reader.Value.Count()</td>
            </tr>
        }
    </tbody>
</MudSimpleTable>